body {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 360px;
  max-width: 960px;
  height: 95vh;
  min-height: 500px;
  border: 1px solid grey;
  border-radius: 6px;
}

.display-box {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 1%;
  height: 15%;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: scroll;
}

.display-box h1 {
  font-size: .8em;
  font-family: "Courier";
  font-weight: bold;
  margin: 2px;
}

.display-box p {
  font-size: .8em;
  font-family: "Courier";
  margin: 2px;
}

.disp-chord-labels,
.scale-info-labels,
.settings-labels {
  width: 8%;
  min-width: 70px;
}
.disp-chord-data,
.scale-info-data,
.settings-data {
  width: 25%;
  min-width: 130px;
}


.settings-box,
.chord-options-box {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 98%;
  margin: 1%;
}

.mem-scale-box,
.chord-matrix-box  {
  display: flex;
  flex-flow: wrap;
  flex-direction: column-reverse;
  width: 98%;
  margin: 1%;
}

.settings-box {
  height: 10%;
}

.mem-scale-box {
  height: 30%;
}

.chord-options-box {
  height: 5%;
}

.chord-matrix-box {
  height: 40%;
}

.settings-button {
  width: 12%;
  height: 50%;
  line-height: 30px;
}

.settings-button:active {
  background-color: yellow;
}

.chord-mem-button,
.scale-button {
  width: 12%;
  height: 30%;
  line-height: 50px;
}

.chord-mem-button:active {
  background-color: green;
}


.scale-button:active {
  background-color: blue;
}


.chord-options-button {
  width: 12%;
  height: 100%;
  line-height: 30px;

}

.chord-options-button:active {
  background-color: yellow;
}

.chord-matrix-button {
  width: 12%;
  height: 23%;
}

.chord-matrix-button:active {
  background-color: green;
}

.button {
  background-color: #e3e3e3;
  margin: .25%;
  border-radius: 3px;
  text-align: center;
}

select {
  border: none;
  background-color: none;
}

.selected {
  background-color: orange;
}

.shifted {
  background-color: red;
}
